html {
    height: 100%;
}

body {
    height: 100%;
}

section, footer {
    background-color: black;
}

.fullscreen {
    min-height: 100%;
    height: 100%;
}

.layout-social .layout-icon {
    font-size: 3em;
}

.fun-text {
    animation: color-change 1s infinite
}

@keyframes color-change {
    0% {color: white}
    50% {color: yellow}
    100% {color: orangered}
}

#sticky-footer {
    flex-shrink: none;
}

textarea {
    font-family: inherit;
    font-size: inherit;
 }

#password {
    background-color: gray;
    font-size: large;
    transition: all ease-in-out .5s;
}

#password:hover {
    background-color: white;
    font-size:x-large;
}

